[submodule "skale-network"]
	path = skale-network
	url = https://github.com/skalenetwork/skale-network.git
	branch = update-chains-meta-light-theme
[submodule "helper-scripts"]
	path = helper-scripts
	url = https://github.com/skalenetwork/helper-scripts.git
