.chipContainer {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 8px;
    // border-radius: 25px;
    position: relative;
}

.chipContainer::-webkit-scrollbar {
    display: none;
}

.chipContainer {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chipContainer>* {
    flex: 0 0 auto;
}