@import '../variables';

.skTabs {

    .MuiTab-root,
    .MuiButton-root {
        background-color: $sk-bg !important;
    }
}

.responsive-app-header {
    display: flex;
    align-items: flex-start;
}

.sk-app-logo {
    flex-shrink: 0;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    overflow: hidden;
}

.responsive-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.app-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

@media (max-width: 600px) {
    .responsive-app-header {
        flex-direction: column;
    }

    .app-info {
        margin-left: 0;
        margin-top: 20px;
    }
}

.sk-logo-sm {
    width: 80px;
    height: 80px;
}

.sk-logo-md {
    width: 170px;
    height: 170px;

    .responsive-logo {
        padding: 20px !important;
    }
}

.sk-app-logo {
    .logo-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 15px;
    }

    .responsive-logo {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        padding: 10px
    }

}

.sk-app-card {
    padding: 16px;

    .MuiChip-label {
        font-weight: 600;
        font-size: 0.7rem;
    }

}

.skInput {
    .MuiInputBase-root {
        min-height: 53px;
        border-radius: $sk-border-radius;
        border: 1px $border-color solid;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif !important;

        &:focus {
            border-color: $border-color;
        }
    }

    .MuiOutlinedInput-input {
        padding: 14px 0 !important;
    }

    .MuiOutlinedInput-notchedOutline {
        display: none;
    }

    input {
        font-size: 0.8025rem !important;
        line-height: 1.6 !important;
        letter-spacing: 0.02857em !important;
        font-weight: 600 !important;
    }
}

.outlined {
    border-radius: $sk-border-radius;
    border: 1px $border-color solid;
}

.filled {
    background: $sk-bg;
}

.borderLeft {
    border-left: 1px $border-color solid;
}

.skMenuBtn {
    min-height: 53px;
}

.skMenu {
    .MuiMenu-paper {
        background-image: none !important;
        border-radius: $sk-border-radius;
        border: 1px $border-color solid;
    }

    .MuiCheckbox-root {
        padding: 2px 10px;
    }
}
.secondary {
    background-color: $sk-secondary !important;
}