.skTabs {

    .MuiTab-root,
    .MuiButton-root {
        background-color: var(--background) !important;
    }
}

.responsive-app-header {
    display: flex;
    align-items: flex-start;
}

.sk-app-logo {
    flex-shrink: 0;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.responsive-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.app-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

@media (max-width: 600px) {
    .responsive-app-header {
        flex-direction: column;
    }

    .app-info {
        margin-left: 0;
        margin-top: 20px;
    }
}

.sk-logo-xs {
    width: 60px;
    height: 60px;
}

.sk-logo-sm {
    width: 80px;
    height: 80px;
}

.sk-logo-md {
    width: 150px;
    height: 150px;

    .responsive-logo {
        padding: 20px !important;
    }
}

.sk-app-logo {
    .logo-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 15px;
    }

    .responsive-logo {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        padding: 10px
    }

}

.sk-app-card {
    padding: 16px;

    .MuiChip-label {
        font-weight: 600;
        font-size: 0.7rem;
    }

}


.outlined {
    border-radius: var(--radius);
    border: 1px var(--border) solid;
}

.filled {
    background: var(--background);
}

.borderLeft {
    border-left: 1px var(--border) solid;
}



.secondary {
    background-color: var(--secondary) !important;
}