.flex {
    display: flex;
    vertical-align: middle;
}

.flexRight {
    justify-content: end;
}

.flexc {
    align-items: center;
    justify-content: center;
}

.flexcv {
    align-items: center;
}

.flexg {
    flex-grow: 1;
}

.flexw {
    flex-direction: row;
    flex-wrap: wrap;
}

.rotate180 {
    transform: rotate(180deg);
}


.bordRad {
    border-radius: var(--radius);
}

.bord {
    border: 1px var(--card) solid;
}

.bordtop {
    border-top: 1px var(--card) solid;
}

.bordbott {
    border-bottom: 1px var(--card) solid;
}

.bordleft {
    border-left: 1px var(--card) solid;
}

.bordri {
    border-right: 1px var(--card) solid;
}

.padd5 {
    padding: 5px !important;
}

.padd10 {
    padding: 10px !important;
}

.pleft10 {
    padding-left: 10px !important;
}

.pri10 {
    padding-right: 10px !important;
}

.pleft20 {
    padding-left: 20px !important;
}

.pri20 {
    padding-right: 20px !important;
}


.ptop10 {
    padding-top: 10px !important;
}


.ptop20 {
    padding-top: 20px !important;
}

.m5 {
    margin: 5px !important;
}


.m10 {
    margin: 10px !important;
}

.mtop10 {
    margin-top: 10px !important;
}

.mtop20 {
    margin-top: 20px !important;
}

.mleft5 {
    margin-left: 5px !important;
}

.mleft10 {
    margin-left: 10px !important;
}

.mleft15 {
    margin-left: 15px !important;
}

.mleft20 {
    margin-left: 20px !important;
}

.mri20 {
    margin-right: 20px !important;
}

.mri10 {
    margin-right: 10px !important;
}

.mri15 {
    margin-right: 15px !important;
}

.mri5 {
    margin-right: 5px !important;
}

.margBottMin10 {
    margin-bottom: -10px !important;
}

.margBottMin15 {
    margin-bottom: -15px !important;
}

.mtop20Pt {
    margin-top: 20pt !important;
}

.mbott20 {
    margin-bottom: 20px !important;
}

.mbott10 {
    margin-bottom: 10px !important;
}

.mbott5 {
    margin-bottom: 5px !important;
}

.mtop5 {
    margin-top: 5px !important;
}

.ptop5 {
    padding-top: 5px !important;
}

.pbott5 {
    padding-bottom: 5px !important;
}

.pbott10 {
    padding-bottom: 10px !important;
}

.nom {
    margin: 0 !important;
}

.ptop20 {
    padding-top: 20px !important;
}


.ptop15 {
    padding-top: 15px !important;
}

.ptop25 {
    padding-top: 25px !important;
}

.nop {
    padding: 0 !important;
}

.cap {
    text-transform: capitalize !important;
}

// fonts


.p {
    margin: 0;
    text-transform: none;
    line-height: 1.6 !important;
    font-weight: 500;
}

.p500 {
    font-weight: 500 !important;
}

.p600 {
    font-weight: 600 !important;
}

.p700 {
    font-weight: 700 !important;
}


.upp {
    text-transform: uppercase !important;
}

.p1 {
    font-size: 1.3rem !important;
    letter-spacing: 0.03857em !important;
}

.p2 {
    font-size: 0.9225rem !important;
    letter-spacing: 0.03857em !important;
}

.p3 {
    font-size: 0.8025rem !important;
    letter-spacing: 0.02857em !important;
}

.p4 {
    font-size: 0.7025rem !important;
    letter-spacing: 0.04857em !important;
}

.p5 {
    font-size: 0.6025rem !important;
    letter-spacing: 0.03857em !important;
}

.p6 {
    font-size: 0.5025rem !important;
    letter-spacing: 0.03857em !important;
}


.pWrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.darkTheme {
    .pPrim {
        color: white !important;
    }

    .pSec {
        color: var(--secondary-foreground) !important;
    }

    .pDisabled {
        color: rgba(255, 255, 255, 0.5) !important;
    }
}

.lightTheme {
    .pPrim {
        color: black !important;
    }

    .pSec {
        color: var(--secondary-foreground) !important;
    }

    .pDisabled {
        color: rgba(0, 0, 0, 0.38) !important;
    }

    .pLightGrey {
        color: lightgrey !important;
    }
}


.pCent {
    text-align: center;
}

.pri {
    text-align: right;
}

.pleft {
    text-align: left;
}

:global([rk-chain-button]) {
    display: none !important;
}

.rad50 {
    border-radius: 50%;
}

.pointer {
    cursor: pointer;
}