$sk-border-radius: 25px;
$sk-bg: #191919;
$sk-bg-prim: #000000;
$sk-btn-height: 47px;

$sk-prim: #93B8EC;
$border-color: #353535;
$border-color-light: #171616;

// legacy
$sk-paper-color: rgb(136 135 135 / 15%);
$sk-gray-background-color: rgba(161, 161, 161, 0.2);