@import './variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.bridge {
  min-height: 100vh;
  min-width: 100vw;
}

.logo {
  width: 75pt;
}

.sk-header {
  background-color: rgba(0, 0, 0, 0) !important;
  -webkit-backdrop-filter: blur(80px) !important;
  backdrop-filter: blur(80px) !important;
}

.bridge-light .logo {
  filter: invert(0.85);
}

.MuiAppBar-positionFixed {
  background-image: none !important;
  padding: 10pt 0;
}


.MuiListItemButton-root {
  padding: 5px !important;
  border-radius: 12px !important;
}

.MuiListItem-padding {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.secondaryText {
  margin: 0;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  font-size: .6525rem !important;
  line-height: 1.6 !important;
  letter-spacing: .02857em !important;
}

.MuiListItemButton-root .MuiTypography-root {
  margin: 0;
  font-weight: 600 !important;
  font-size: .8rem !important;
  line-height: 1.6 !important;
}

.fullWidth {
  width: 100%;
}

.mp__btnConnect {
  width: 100%;
  border-radius: 18px !important;

  text-transform: none !important;

  text-align: center;

  height: 37px;


  font-size: .7225rem;
  line-height: 1.6;
  font-weight: 600;

  .mp__iconConnect {
    margin-left: 10px;
    width: 18pt !important;
    height: 18pt !important;
  }

  .MuiPaper-root {
    width: 100%;
    padding: 0 10pt;
    border-radius: 18px !important;
    border: 1px solid rgba(255, 255, 255, 0.12);
  }

  .mp__iconGray {
    width: 12pt;
  }
}

.MuiDrawer-paper {
  margin-bottom: 20px !important;
  border: none !important;
}

.MuiListItemIcon-root {
  min-width: 30px;
  margin-left: 10px;

  svg {
    width: 20px;
  }
}

.MuiModal-root {
  z-index: 99999 !important;
}


.br__modalWrap {
  height: 85vh;
  padding: 20px !important;
  display: flex;
  /* relevant part */
  flex-direction: column;
  /* relevant part */
  overflow: hidden;
  /* relevant part */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .br__modalWrap {
    height: 100vh;
  }
}



.br__modalInner {
  max-height: calc(90vh - 300px);
  display: flex;
  /* relevant part */
  flex-direction: column;
  /* relevant part */
  overflow: hidden;
}

.scrollable {
  display: flex;
  /* relevant part */
  flex-direction: column;
  /* relevant part */
  overflow: hidden;
}

.br__modal {
  .MuiContainer-root {
    padding: 0px !important;
  }

  .br__modalScroll {
    height: 100%;
    overflow-y: auto;
  }

  p {
    font-size: .8025rem !important;
    letter-spacing: .02857em !important;
    line-height: 1.6 !important;
    font-weight: 500;
  }

  h2 {
    margin-top: 0 !important;
  }
}

.drawerIconRi {
  color: #a6a6a6;
  width: 12pt !important;
  height: 12pt !important;
  margin-right: 12px !important;
}

.br__modalScroll {
  ::-webkit-scrollbar {
    display: unset !important;
  }
}

::-webkit-scrollbar-thumb {
  background: white;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e1e1e125;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 0px solid rgba(255, 255, 255, 0);
  background-clip: content-box;
  background-color: #a0a0a0;
}

body::-webkit-scrollbar {
  display: none;
}

.br__bottomNav {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.br__tile {
  box-shadow: 0px -4px 6px rgba(255, 255, 255, 0.05);
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}

.br__tile:hover {
  box-shadow: 0px -4px 6px rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

.br__tile {
  height: 140px;
  border-radius: 25px !important;
  border: 1px rgb(44 44 44) solid !important;
}

.br__tileLogo {
  height: 95px;

  img {
    max-height: 100%;
    max-width: 100%;
    padding: 20px;
  }
}

.br__tileBott {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}


.br__chipXs {
  height: 22px !important;

  .MuiChip-label {
    font-size: 0.7125rem;
  }
}

.br__chipGray {
  color: white !important;
  background-color: #191919 !important;
}


.AppWrap {
  padding-top: 91px;
}

.mp__moreMenu {
  .MuiList-root {
    padding: 8px !important;
  }

  .MuiMenuItem-root,
  .MuiPaper-root {
    border-radius: 12px !important;
  }

  .MuiItem-padding {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }

  .MuiMenuItem-root {
    font-weight: 600 !important;
    font-size: .8rem !important;
    line-height: 1.6 !important;
    color: white;
    padding: 8px 12px;
  }

  .MuiItemIcon-root {
    min-width: 35px !important;
    margin-left: 10px;
  }

  .MuiMenuItem-root svg {
    width: 22px !important;
  }
}

.menuIconRi {
  color: #a6a6a6;
  width: 12pt !important;
  height: 12pt !important;
}

.fullscreen-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 94px);
  margin: 0;
  padding: 0;
  width: 100%;
}

.cardBtn {
  background: rgba(0, 0, 0, .506) !important;
  border: 1px solid hsla(0, 0%, 51%, .35) !important;
  text-transform: none !important;
  color: white !important;
  padding: 5px 10px 5px 15px !important;
  font-size: 0.6125rem !important;

  svg {
    width: 10pt;
    height: 10pt;
  }

  .MuiButton-endIcon {
    margin-left: 5px !important;
    margin-right: 2px !important;
    // margin: 0 !important;
  }
}

.cardBtnIcon {
  padding: 5px 0 !important;
  width: 32px !important;

  height: 32px !important;

  svg {
    color: white !important;
    width: 12pt;
    height: 12pt;
  }
}

.copyBoard {
  margin: 10px 0 !important;
  padding: 13pt 15pt !important;
  background-color: #3a3a3a !important;
  border-radius: 20px !important;
  border: none !important;
  cursor: pointer !important;
  width: 100%;
  font-size: 0.9rem !important;
}

code {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overflow-auto {
  overflow: auto;
}


.inheritSize {
  width: inherit;
  height: inherit;
}

.inheritSize:has(.br__tileDefaultLogo) {
  width: 100% !important;
}

.br__tileDefaultLogo {
  width: 100% !important;
  padding: 10px 10px 0 10px !important;

  .paper {
    border-radius: 20px !important;
    width: 100% !important;
    filter: saturate(0.9) brightness(0.9);
  }
}

.modalBlock {
  background-color: rgb(10 10 10 / 85%) !important;

  svg {
    width: 20pt;
    height: 20pt;

  }
}

.modalBlock1 {
  background: linear-gradient(151deg, rgb(22 15 32 / 85%) 10%, rgba(10, 10, 10, 0.85) 100%) !important;
}

.modalBlock2 {
  background: linear-gradient(151deg, rgb(27 24 11 / 85%) 10%, rgb(10 10 10 / 85%) 100%) !important;
}

.modalBlock3 {
  background: linear-gradient(151deg, rgb(10 25 16 / 85%), rgba(10, 10, 10, 0.85) 100%) !important;
}

.modalBlock4 {
  background: linear-gradient(151deg, rgb(12 24 34 / 95%), rgba(10, 10, 10, 0.95) 100%) !important;
}

.chainDetails {
  .logo {
    height: 60pt;
    margin: 30px 0;
    width: 100%;
    text-align: center;

    img,
    svg {
      max-height: 90%;
      max-width: 90%;
    }
  }

  .titleSection {
    background: rgba(0, 0, 0, 0.6) !important;
    border-radius: 25px;
    padding: 20px;
  }
}

button:focus {
  outline: none !important;
}

.shortP {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}