@import './variables';
@import './styles/components';
@import './styles/chip';

:root {
  background: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bridge {
  min-height: 100vh;
  min-width: 100vw;
}

.skLogo {
  width: 75pt;
}

.sk-header {
  background-color: rgba(0, 0, 0, 0) !important;
  -webkit-backdrop-filter: blur(80px) !important;
  backdrop-filter: blur(80px) !important;
}

.bridge-light .logo {
  filter: invert(0.85);
}

.MuiAppBar-positionFixed {
  background-image: none !important;
  padding: 10pt 0;
}


.MuiListItemButton-root {
  padding: 5px !important;
  border-radius: 12px !important;
}

.MuiListItem-padding {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.secondaryText {
  margin: 0;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  font-size: .6525rem !important;
  line-height: 1.6 !important;
  letter-spacing: .02857em !important;
}

.MuiListItemButton-root .MuiTypography-root {
  margin: 0;
  font-weight: 600 !important;
  font-size: .8rem !important;
  line-height: 1.6 !important;
  font-family: inherit !important;
}

.fullW {
  width: 100%;
}

.mp__btnConnect {
  position: relative;

  width: 100%;
  border-radius: 18px !important;

  text-transform: none;

  text-align: center;

  height: 36px;

  font-size: .7rem;
  line-height: 1.6;
  font-weight: 600;
  padding-right: 12px;
  padding-left: 8px;

  min-height: 0 !important;

  .mp__iconConnect {
    margin-left: 10px;
    width: 18pt !important;
    height: 18pt !important;
  }

  .MuiPaper-root {
    width: 100%;
    padding: 0 10pt;
    border-radius: 18px !important;
    border: 1px solid rgba(255, 255, 255, 0.12);
  }

  .mp__iconGray {
    width: 12pt;
  }

  .icon-overlay {
    position: absolute;
    top: -6px;
    right: -6px;
  }
}

.MuiDrawer-paper {
  margin-bottom: 20px !important;
  border: none !important;
}

.MuiListItemIcon-root {
  min-width: 30px;
  margin-left: 10px;

  svg {
    width: 20px;
  }
}

.MuiModal-root {
  z-index: 99999 !important;
}


.br__modalWrap {
  height: 85vh;
  padding: 20px !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

// todo: move to cmn
.flex-w {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .br__modalWrap {
    height: 100vh;
  }
}


.br__modalInner {
  max-height: calc(90vh - 250px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.scrollable {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.br__modalScroll {
  @media screen and (min-height: 200px) {
    max-height: calc(75vh - 180px);
  }

  @media screen and (min-height: 670px) and (min-width: 300px) {
    max-height: calc(75vh - 520px);
  }

  @media screen and (min-height: 670px) and (min-width: 900px) {
    max-height: calc(75vh - 350px);
  }

  overflow-y: auto;
}

.drawerIconRi {
  color: #a6a6a6;
  width: 12pt !important;
  height: 12pt !important;
  margin-right: 12px !important;
}

// .br__modalScroll {
//   ::-webkit-scrollbar {
//     display: unset !important;
//   }
// }

::-webkit-scrollbar-track {
  height: 5px !important;
}

::-webkit-scrollbar-thumb {
  background: white;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e1e1e125;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 0px solid rgba(255, 255, 255, 0);
  background-clip: content-box;
  background-color: #a0a0a0;
}

body::-webkit-scrollbar {
  display: none;
}

.br__bottomNav {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.MuiBottomNavigation-root {
  height: 50px !important;

  span {
    font-size: 0.6rem !important;
    font-weight: 600 !important;
  }
}

.br__tile {
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}

.br__tile:hover {
  transform: scale(1.03);
}

.hoverable {
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}

.hoverable:hover {
  transform: scale(1.01);
}

.border {
  border: 1px solid $border-color !important;
}


.borderLight {
  border: 1px solid $border-color-light !important;
}

.radius {
  border-radius: $sk-border-radius !important;
}

.pageCard {
  height: 100% !important;
  border-radius: 25px !important;
  border: 1px rgb(44 44 44) solid !important;

  svg {
    width: 15px;
    height: 15px;
  }
}

.br__tileIns {
  height: 115px;
}

.br__tileLogo {
  img {
    max-height: 100%;
    max-width: 100%;
    padding: 20px;
  }
}

.br__tileBott {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}


.br__chipXs {
  height: 22px !important;

  .MuiChip-label {
    font-size: 0.7125rem;
  }
}

.br__chipGray {
  color: white !important;
  background-color: #191919 !important;
}


.AppWrap {
  padding-top: 91px;
}

.mp__moreMenu {
  .MuiList-root {
    padding: 8px !important;
    background-color: RGB(136 135 135/15%) !important;
    border-radius: 15px;
  }

  .MuiMenuItem-root,
  .MuiPaper-root {
    border-radius: 12px !important;
  }

  .MuiItem-padding {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }

  .MuiMenuItem-root {
    font-weight: 600 !important;
    font-size: .8rem !important;
    line-height: 1.6 !important;
    color: white;
    padding: 8px 12px;
  }

  .MuiItemIcon-root {
    min-width: 35px !important;
    margin-left: 10px;
  }

  .MuiMenuItem-root svg {
    width: 22px !important;
  }
}

.menuIconRi {
  color: #a6a6a6;
  width: 12pt !important;
  height: 12pt !important;
}

.fullscreen-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 94px);
  margin: 0;
  padding: 0;
  width: 100%;
}

.skArrows {
  .MuiIconButton-root {
    svg {
      color: white;
      font-size: 14pt;
      padding: 2px;
    }
  }

}

.btn {
  text-transform: none !important;
  font-size: 0.8025rem !important;
  line-height: 1.6 !important;
  letter-spacing: 0.02857em !important;
  font-weight: 600 !important;
  padding: 0.9em 3.5em !important;
  border-radius: $sk-border-radius !important;
  box-shadow: none !important;
}


.btnSm {
  text-transform: none !important;
  font-size: 0.7025rem !important;
  line-height: 1.5 !important;
  letter-spacing: 0.02857em !important;
  font-weight: 600 !important;
  padding: 0.5em 1.5em !important;
  border-radius: $sk-border-radius !important;
  box-shadow: none !important;
}

.btnerror {
  background: #f4433621;
}

.btnwarning {
  background: rgb(244 139 54 / 13%);
}

.btnSmLoading {
  padding: 0.5em 1.5em 0.5em 3em !important;
}

.btnMd {
  text-transform: none !important;
  font-size: 0.8025rem !important;
  line-height: 1.5 !important;
  letter-spacing: 0.02857em !important;
  font-weight: 600 !important;
  padding: 0.6em 2em !important;
  border-radius: $sk-border-radius !important;
  box-shadow: none !important;
}

.btnPadd {
  width: inherit;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.btnPaddLoading {
  padding-left: 25px !important;
}

.btnLg {
  text-transform: none !important;
  font-size: 0.9025rem !important;
  line-height: 1.5 !important;
  letter-spacing: 0.02857em !important;
  font-weight: 600 !important;
  padding: 0.6em 2em !important;
  border-radius: $sk-border-radius !important;
  box-shadow: none !important;
}

.favsBtn {
  white-space: nowrap;
  min-width: auto;
  height: min-content;
}

.outlinedGray {
  background: rgb(126 126 126 / 15%);
}

.roundBtn {
  min-width: 40px !important;
  padding: 8px 11px !important;
}

.cardBtn {
  background: transparent !important;
  text-transform: none !important;
  color: #ffffffe6 !important;
  padding: 6px 10px 0px 12px !important;
  font-size: 0.7rem !important;
  min-width: 55px;

  width: 100%;

  font-weight: 700 !important;

  svg {
    width: 8pt;
    height: 8pt;
  }

  .MuiButton-startIcon {
    margin-right: 5px !important;
  }
}

.cardBtnIcon {
  padding: 5px 0 !important;
  width: 32px !important;

  height: 32px !important;

  svg {
    color: white !important;
    width: 12pt;
    height: 12pt;
  }
}

.copyBoard {
  margin: 10px 0 !important;
  padding: 13pt 15pt !important;
  background-color: #3a3a3a !important;
  border-radius: 20px !important;
  border: none !important;
  cursor: pointer !important;
  width: 100%;
  font-size: 0.9rem !important;
}

.pointer {
  cursor: pointer;
}

code {
  overflow: hidden;
  white-space: nowrap;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overflow-auto {
  overflow: auto;
}

.inheritSize:has(.br__tileDefaultLogo) {
  width: 100% !important;
  height: inherit;
}

.br__tileDefaultLogo {
  width: 100% !important;
  padding: 10px 10px 5px 10px !important;

  .paper {
    border-radius: 20px !important;
    width: 100% !important;
    filter: saturate(0.9) brightness(0.9);
  }
}

.modalBlock {
  background-color: rgb(10 10 10 / 85%) !important;

  svg {
    width: 20pt;
    height: 20pt;
  }

  p {
    font-size: .9025rem;
    letter-spacing: .02857em;
  }
}

.modalBlock1 {
  background: linear-gradient(151deg, rgb(22 15 32 / 85%) 10%, rgba(10, 10, 10, 0.85) 100%) !important;
}

.modalBlock2 {
  background: linear-gradient(180deg, rgb(43 38 17 / 85%) 10%, rgb(24 21 9 / 85%) 100%) !important;
}

.modalBlock3 {
  background: linear-gradient(180deg, rgb(17 42 27 / 85%), rgb(11 28 18 / 85%) 100%) !important
}

.modalBlock4 {
  background: linear-gradient(180deg, rgb(25 25 25 / 95%), rgb(17 17 17 / 95%) 100%) !important;
}

.titleBadge {
  background: rgba(0, 0, 0, 0.6) !important;
  border-radius: 25px;
  padding: 5px;

  svg {
    width: 12px;
    height: 12px;
  }
}

.chainDetails {
  .logo {
    height: 90pt;
    line-height: 90pt;
    text-align: center;

    img,
    svg {
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
    }

    margin: 45px auto;
  }
}

.monthInputWrap {
  border-radius: 25px;
  background: rgba(147, 184, 236, 0.16);
  padding-left: 20px;
}

.monthInput {
  width: 35pt;

  input {
    font-weight: 500;
    line-height: 0.9;
  }

  .MuiInputBase-input {
    padding: 0 !important;
  }

  .MuiInput-root::after {
    display: none !important;
    border-bottom: none !important;
  }

  .MuiInput-root::before {
    display: none !important;
    border-bottom: none !important;
  }
}

.titleSection {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
  border-radius: 25px;
  padding: 20px;
}

.titleSectionBg {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
  border-radius: 25px;
}

.titleSectionOut {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
  border-radius: 25px;
  padding: 0;
}

button:focus {
  outline: none !important;
}

.shortP {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.transferImg {
  height: 350px;
  margin-right: -10px;
}

.MuiAccordion-rounded {
  box-shadow: none !important;
}

.startCardText {
  margin: 125px 10px 10px 10px;
  background: #00000066;
  backdrop-filter: blur(10px) brightness(0.8);
  border-radius: 25px;
  padding: 15px 20px;
}

.startCardBg {
  background-repeat: no-repeat;
  background-size: cover;
  border: none !important;
  border: 1px solid #171616 !important;
  box-shadow: none !important;
}

.startCardbridge {
  background-image: url(/bridge.png);
}

.startCardchains {
  background-image: url(/chains.png);
}

.startCardapps {
  background-image: url(/apps.png);
}

.startCardstaking {
  background-image: url(/staking.png);
}

.startCardstats {
  background-image: url(/stats.png);
}

.startCardportfolio {
  background-image: url(/portfolio.png);
}


.blackP {
  color: #000000;
}

.divider {
  border-bottom: 1px $border-color solid;
  padding-bottom: 10px;
}

.whiteLink {
  border-bottom: 1px #ffffff solid;
}

.flexi {
  display: inline-flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.chipNew {
  margin-right: 5px;
  background: #93B8EC;
  border-radius: 20px;
  padding: 3px 6px;

  p {
    color: #000000de !important;
    font-weight: 600 !important;
  }
}

.chipTrending {
  background: linear-gradient(180deg, #e56d36, #D0602D) !important;

  p {
    color: black !important
  }
}

.chipMostLiked {
  background: linear-gradient(180deg, #e8a25b, #e58e36) !important;


  p {
    color: black !important
  }
}

.chipNewApp {
  background: linear-gradient(180deg, #65a974, #508d5e) !important;

  p {
    color: black !important
  }
}

.chipPreTge {
  background: linear-gradient(180deg, #EBB84F, #bc923b) !important;

  p {
    color: black !important
  }
}

.chipXs {
  border-radius: 20px;
  padding: 3px 6px;

  svg {
    width: 14px;
    height: 14px;
  }
}

.chipSm {
  border-radius: 20px;
  padding: 6px 12px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.chipXs {
  border-radius: 15px;
  padding: 4px 6px;

  svg {
    width: 12px;
    height: 12px;
  }
}

.skChip {
  background: linear-gradient(180deg, rgb(52 52 52), rgb(31 31 31));
}


.chip {
  border-radius: 20px;
  padding: 6px 12px;
  width: max-content;

  p {

    font-weight: 600 !important;
  }
}

.chip_pretge {
  background: linear-gradient(180deg, #E7B443, #b1882f);
  color: #201808;
}

.chip_new {
  color: #09100b;
  background: linear-gradient(#5C9B6A, #477a52);
}

.chip_DELEGATED {
  background: linear-gradient(180deg, #0f3d29, #0a2a1c);
  color: #3cda94;
}

.chip_ACCEPTED {
  background: linear-gradient(180deg, #233d0f, #0a1b07);
  color: #3cda4e;
}

.chip_REJECTED {
  background: linear-gradient(180deg, #4e0000, #330000);
  color: #fc8181;
}

.chip_COMPLETED {
  background: linear-gradient(180deg, #4e3300, #372400);
  color: #fcbb81;
}

.chip_UNDELEGATION_REQUESTED {
  color: rgb(252 248 129);
  background: linear-gradient(rgb(78 71 0), rgb(36 39 0));
}

.chip_CANCELED {
  color: rgb(219 219 219);
  background: linear-gradient(rgb(59 59 59), rgb(36 36 36));
}

.chip_PROPOSED {
  color: rgb(57 218 248);
  background: linear-gradient(rgb(20 66 59), rgb(11 36 33));
}

.chip_DELEGATION_UI {
  background: linear-gradient(180deg, #1e1b37, #131123);
  color: #8c81fc;

}

.chip_MEW_WALLET {
  background: linear-gradient(180deg, #144348, #0c2326);
  color: #4bd9e9;
}

.chip_ACTIVATE {
  background: linear-gradient(180deg, #101635, #0a0e23);
  color: #6f82f4;

}

.chip_PORTAL {
  background: linear-gradient(180deg, #221d3c, #151225);
  color: #9681fc;
}

.chip_SELF {
  background: linear-gradient(180deg, #4e3300, #372400);
  color: #fcbb81;
}

.chip_OTHER {
  background: linear-gradient(180deg, #3e1f3f, #2b152b);
  color: #f681fc;
}

.chip_ETHERSCAN {
  background: linear-gradient(180deg, #1f203f, #15172b);
  color: #8199fc;
}

.chipFee {
  margin-right: 5px;
  background: linear-gradient(180deg, #1e4e00, #163800);

  border-radius: 20px;
  padding: 3px 6px;

  p {
    color: #cef79b !important;
  }
}

.chipId {
  margin-right: 5px;
  background: linear-gradient(180deg, #333333, #212121);
  border-radius: 20px;
  padding: 3px 6px;

  p {
    color: #cecece !important;
  }
}

.iconRed {
  color: #da3a34 !important;

  svg {
    color: #da3a34 !important;
  }
}

.btnRed {
  background-color: #da3a34 !important;
}

.chipNodes {
  margin-right: 5px;
  background: linear-gradient(180deg, #301f35, #1f1322);
  border-radius: 20px;
  padding: 3px 6px;

  p {
    color: #e887ff !important
  }
}

.chipAddress {
  margin-right: 5px;
  background: #1f3533;
  border-radius: 20px;
  padding: 3px 12px;

  p {
    color: #87e5ff !important;
  }
}

// md styling

.markdown {
  hr {
    border-color: $border-color;
    width: 100%;
    margin-block-start: 2em;
    margin-block-end: 1em;
  }

  ul,
  p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-size: 0.9rem;
    font-weight: 500;
  }

  h2 {
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
  }

  h3 {
    margin-block-start: 1em;
    margin-block-end: 0.7em;
  }

  ul {
    padding-inline-start: 20px;
  }

  li {
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    letter-spacing: 0.02857em;
  }

  li::marker {
    width: 0;
    display: none !important;
  }

  code {
    color: #fc8180;
  }

  blockquote {
    background: #2d2d2d;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 0;
  }
}





.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.05);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 100ms, transform 100ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 100ms, transform 100ms;
}


.fade-enter {
  opacity: 0;
  transform: translate(0, 25px);
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 150ms ease-out, transform 200ms ease;
}

.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px);

  transition: opacity 150ms ease-out, transform 200ms ease;
}


.sk-select {
  .MuiSelect-select {
    border: none !important;
    // padding: 6px 20px 6px 6px !important;
  }

  .MuiInputBase-root:after,
  .MuiInputBase-root:before {
    display: none !important;
  }

  .MuiNativeSelect-standard {
    background: none !important;
    padding: 7px 25px 7px 15px !important;
  }

  svg {
    margin-right: 5px !important;
    padding-right: 5px !important;
    width: 1em !important;
    height: 1em !important;
  }
}


.trustedBadge {
  color: #0095f6;
}

.untrustedBadge {
  color: #ffb817;
}

.validatorCard {
  height: 100% !important;
  cursor: pointer;
}


.pOneLine {
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

.disabledCard {
  filter: saturate(0) !important;
  cursor: not-allowed !important;
}

.selectedValidator {
  background: rgb(12 41 24) !important;
}

.pbott5 {
  padding-bottom: 5px;
}

.m-ri-min10 {
  margin-right: -10px;
}


.validatorIcon {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.nestedSection {
  border-left: 4px $border-color solid;
  padding-left: 20px;
  margin-left: 41px !important;
}

.nestedSectionXs {
  border-left: 3px $border-color solid;
  padding-left: 20px;
  margin-left: 20px !important;
}

.borderVert {
  border-left: 2px $border-color solid;
}

.validatorIconDelegation {
  margin-left: -15px;
  margin-top: -15px;
}


.rotate-90 {
  transition: transform 0.5s ease;
  /* Adjust duration and easing as needed */
}

.rotate-90.active {
  transform: rotate(90deg);
}

.MuiSkeleton-root {
  border-radius: 25px !important;
  width: 100% !important;
}


.amountInput {
  input {
    padding: 3px 10px 0 5px !important
  }
}


.warningMsg {
  background-color: #43391d !important;

  p,
  svg {
    color: #f9e09c !important;
  }

  a,
  .a {
    color: #ffc832 !important;

    p,
    svg {
      color: #ffc832 !important;
    }
  }
}


.errorMsg {
  background-color: #431d1d !important;

  p,
  svg {
    color: #f99c9c !important;
  }

  a,
  .a {
    color: #f99c9c !important;

    p,
    svg {
      color: #f99c9c !important;
    }
  }
}


.appIconHub {
  border-radius: 50%;
  padding: 10px;
}

.pbott20 {
  padding-bottom: 20px;
}

.transakFrame {
  iframe {
    border-radius: 25px;
  }

  height: calc(100vh - 340px);
  border: none;
  z-index: 1;
}

.tab {
  svg {
    width: 17px;
    height: 17px;
  }

  min-height: 45px !important;
}

.tab.Mui-selected {
  background-color: rgba(147, 184, 236, 0.16) !important;
}

.MuiTabs-indicator {
  display: none !important;
}

.MuiTabs-root {
  min-height: 48px;
}

.undec {
  color: unset !important;
}

.tabLink {

  button,
  p,
  svg {
    color: white !important
  }
}

.hoverable {
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}

.hoverable:hover {
  transform: scale(1.03);
}

.paddBott60 {
  padding-bottom: 60px;
}

.m5 {
  margin: 5px;
}

.fwmobile {
  max-width: calc(100vw - 32px);
}

.skPopup {
  .MuiBackdrop-root {
    backdrop-filter: blur(3px) !important;
  }
}

.socialIcon {
  width: 30px !important;
  height: 30px !important;

  svg {
    width: 30px !important;
    height: 30px !important;
  }
}

.socialIconMd {
  width: 40px !important;
  height: 40px !important;

  svg {
    width: 40px !important;
    height: 40px !important;
  }
}

.customSocialIcon {
  height: 20px;
  width: 20px;
  padding: 1px;
}

.customSocialIconMd {
  height: 24px;
  width: 24px;
}

.pSec {
  color: RGB(255 255 255 / 65%);

  svg {
    fill: RGB(255 255 255 / 65%);
  }

}

.addressInput {
  input {
    color: rgba(255, 255, 255, 0.8) !important;
  }

  .Mui-disabled {
    -webkit-text-fill-color: #ffffff;
  }
}

.bgBlack {
  background: black !important;
}


.bg {
  background: $sk-bg !important;
}

.bgPrim {
  background: $sk-bg-prim !important;
}

.hidden {
  display: none;
}