.textPage {
  p {
    font-size: 0.9rem;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.MuiToggleButtonGroup-root .Mui-disabled {
  color: #bdbdbd !important;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}


.bbLogo {
  width: 60pt;
}

.skaleLogo {
  height: 30pt;
}


.no-text-transform {
  text-transform: none !important;
}


.br__paper {
  background-color: #151515;
  padding: 20px !important;
}

.bridge__paperTop {
  border-radius: 25px 25px 0 0 !important;
}

.bridge__paperBott {
  border-radius: 0 0 25px 25px !important;
}

.br__paperRounded {
  border-radius: 25px !important;
}


.MuiPaper-rounded {
  border-radius: 25px !important;
}

.br__paper.MuiPaper-rounded {
  border-radius: 25px !important;
  background-color: #151515;
  border: none !important;
}

h4 {
  font-weight: 600 !important;
}

.bridgeUI-light {
  background-color: #f2f2f2;
}


.bridgeUI-dark {
  background-color: #000000;

  .mp__btnConnect.mp__btnConnected {

    color: white !important;
    background-color: #191919 !important;
    border: none !important;

    text-transform: none !important;

    font-size: .8525rem;
    line-height: 1.6;
    font-weight: 600;

    height: 37px !important;


    .paper {
      margin-right: 10px !important;
    }

    padding-right: 12px !important;
  }
}

.bridgeUI {
  .mp__btnConnect.mp__btnConnected {
    .MuiPaper-root {
      color: rgb(0 153 69);
    }
  }
}

.bridgeUI-dark .MuiFormControlLabel-label {
  color: rgba(255, 255, 255, 0.7);
}

.MuiCardContent-root:last-child {
  // padding-bottom: 16px !important;
}

.logo {
  width: 75pt;
}

.logoBig {
  width: 95pt;
}

.sk-header {
  background-color: rgba(0, 0, 0, 0) !important;
}

.appContent {
  height: calc(100vh - 94px);
  overflow-y: auto;
}

.bridgeUI-light .logo {
  filter: invert(0.85);
}

.mainApp {
  padding-top: 94px;
}

.ApdpWrap {
  height: 100vh;
}

.MuiAppBar-positionFixed {
  background-image: none !important;
  padding: 10pt 0;
}

.sk-header .MuiFab-root {
  box-shadow: none !important;
}

.fl-centered-vert {
  align-items: center;
}

.try-icon .MuiSvgIcon-root {
  width: 13pt;
  height: 13pt;
}

.bridgeUI-light .try-icon .MuiSvgIcon-root {
  color: rgba(0, 0, 0, 0.87);
}

.try-text {
  font-weight: 600 !important;
  font-size: 10pt !important;
}

.MuiTabPanel-root {
  padding: 24px 0 !important;
}

.mp__fullHeight {
  height: 95vh;
}

.mp__flex {
  display: flex;
  vertical-align: middle;
}

.fl-right {
  justify-content: end;
}

.mp__flexCentered {
  align-items: center;
  justify-content: center;

}

.mp__flexCenteredVert {
  align-items: center;
}

.mp__flexGrow {
  flex-grow: 1;
}


.mp__margTop10 {
  margin-top: 10px !important;
}

.mp__margTop20 {
  margin-top: 20px !important;
}

.mp__margTop30 {
  margin-top: 30px !important;
}

.mp__margTop40 {
  margin-top: 40px !important;
}

.mp__margLeft5 {
  margin-left: 5px !important;
}

.mp__margLeft10 {
  margin-left: 10px !important;
}

.mp__margLeft20 {
  margin-left: 20px !important;
}

.mp__margRi20 {
  margin-right: 20px !important;
}

.mp__margRi10 {
  margin-right: 10px !important;
}

.mp__margRi5 {
  margin-right: 5px !important;
}


.marg-top-20 {
  margin-top: 20px !important;
}

.mp__margTop20Pt {
  margin-top: 20pt !important;
}

.marg-top-30 {
  margin-top: 30px !important;
}

.mp__margBott20 {
  margin-bottom: 20px !important;
}

.mp__margBott10 {
  margin-bottom: 10px !important;
}

.mp__margBott15 {
  margin-bottom: 15px !important;
}

.mp__margBottMin10 {
  margin-bottom: -10px !important;
}

.mp__margBottMin15 {
  margin-bottom: -15px !important;
}


.marg-bott-40 {
  margin-bottom: 40px !important;
}

.mp__margBott5 {
  margin-bottom: 5px !important;
}

.mp__margTop5 {
  margin-top: 5px !important;
}


.mp__noMargTop {
  margin-top: 0 !important;
}


.mp__noMargBott {
  margin-bottom: 0 !important;
}

.mp__noMarg {
  margin: 0 !important;
}

.mp__noPadd {
  padding: 0 !important;
}

.mp__paddTop10 {
  padding-top: 10px !important;
}


.mp__noMarg-bott {
  margin-bottom: 0 !important;
}

.mp__noMarg {
  margin: 0 !important;
}

.hidden {
  display: none !important;
}


.bridgeUI-dark .MuiListItemText-primary {
  color: #ffffffdb !important;
}

.bridgeUI-light .MuiListItemText-primary {
  color: #525252 !important;
}


.MuiFab-sizeSmall {
  width: 25pt !important;
  height: 25pt !important;
  min-height: 0 !important;
}

.MuiFab-sizeSmall svg {
  width: 15pt !important;
  height: 15pt !important;
}


.skBtn {
  font-weight: 600 !important;
  text-transform: none !important;
  font-size: .9525rem !important;
  line-height: 1.6 !important;
  letter-spacing: .03857em !important;
}


.MuiListItemButton-root {
  padding: 5px !important;
  border-radius: 12px !important;
}

.MuiListItem-padding {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.secondaryText {
  margin: 0;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  font-size: .6525rem !important;
  line-height: 1.6 !important;
  letter-spacing: .02857em !important;
}


.bridgeUI-dark .secondaryText {
  color: rgba(255, 255, 255, .65) !important;
}

.sectionHeader {
  margin: 10pt 0 0 15pt !important;
}


.MuiListItemButton-root .MuiTypography-root {
  margin: 0;
  font-weight: 600 !important;
  font-size: .8rem !important;
  line-height: 1.6 !important;
}

.MuiListItemIcon-root {
  min-width: 35px !important;
  margin-left: 10px;
}

.fullWidth {
  width: 100%;
}

.undec {
  text-decoration: none !important;
}

.bridge__btn {
  font-size: .7125rem !important;
  line-height: 1.7 !important;
  border-radius: 15px !important;
  font-weight: 600 !important;
  box-shadow: none !important;
}

.bridge__transferBtn {
  width: 100%;
  font-size: 0.8rem !important;
  font-weight: 600 !important;
  padding: 12px !important;
  // text-transform: none !important;
}


.nftImg {
  max-height: 200px;
  padding: 20px 30px;
}

.nftImgWrap {
  max-height: 200px;
}


input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.inputAmount .MuiFormControl-root {
  width: 100%;
}


.MuiInputBase-root::after {
  border-bottom: none !important;
}

.MuiInputBase-root::before {
  border-bottom: none !important;
}

.MuiInputBase-root {
  border-radius: 8px !important;
}

.inputAmount {
  margin: 20px 0 10px 0;
}



.mp__btnConnect {
  width: 100%;
  border-radius: 18px !important;

  text-align: left;

  .mp__iconConnect {
    margin-left: 10px;
    width: 18pt !important;
    height: 18pt !important;
  }

  .MuiPaper-root {
    width: 100%;
    padding: 0 10pt;
    border-radius: 18px !important;
    border: 1px solid rgba(255, 255, 255, 0.12);
  }

  .mp__iconGray {
    width: 12pt;
  }
}

.moreBtn {
  background-color: #191919 !important;

  svg {
    width: 14pt !important;
    height: 14pt !important;
  }

  height: 37px;
  width: 37px;
}


.mp__btnChain {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.6525rem;
  line-height: 1.6;
  letter-spacing: 0.02857em;
}

.mp__btnChainBig {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.0525rem;
  line-height: 1;
  letter-spacing: 0.02857em;
  padding-left: 25pt;
  padding-right: 25pt;
}

.MuiSnackbar-root .MuiPaper-root {
  padding: 5px 15px !important;
}

.chainLogo {
  width: 80px;
}


.ethLogo {
  width: 65px;
}

.headerText {
  margin-bottom: 1px !important;
  font-size: 1.5rem !important;
  font-weight: 600;
}

.mp__undec {
  text-decoration: none !important;
}

.mp__logoLink {
  color: white;
}

.chainIcon {
  width: 24px !important;
  height: 24px !important;
}

.MuiListItemIcon-root {
  .chainIcon {
    width: 20px !important;
    height: 20px !important;
  }
}

.dappCard {
  .chainIcon {
    width: 40px !important;
    height: 40px !important;
  }
}

.fade-enter {
  opacity: 0;
  transform: translate(0, 25px);
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}

.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px);

  transition: opacity 250ms ease-out, transform 300ms ease;
}


li a {
  color: rgb(217, 224, 33) !important; // TODO: tmp!
}

.uppercase {
  text-transform: uppercase !important;
}




.mp__p3 {
  margin: 0;
  font-weight: 600 !important;
  // text-transform: uppercase !important;
  //font-size: 0.6525rem !important;
  font-size: 0.7rem !important;
  line-height: 1.6 !important;
  letter-spacing: 0.02857em !important;
}


.MuiToggleButton-root {
  margin: 0;
  // font-weight: 600 !important;
  text-transform: uppercase !important;
  font-size: 0.8525rem !important;
  line-height: 1.6 !important;
  letter-spacing: 0.02857em !important;
}

.mp__p,
.mp__infoIcon,
.mp__backIcon {
  color: rgb(255 255 255 / 65%) !important;
}

.mp__p2 {
  margin: 0;
  font-weight: 600 !important;
  // text-transform: uppercase !important;
  font-size: 0.9525rem !important;
  line-height: 1.6 !important;
  letter-spacing: 0.03857em !important;
}


.mp__p4 {
  margin: 0;
  font-weight: 400 !important;
  // text-transform: uppercase !important;
  font-size: 0.8525rem !important;
  line-height: 1.6 !important;
  letter-spacing: 0.03857em !important;
}

.mp__p6 {
  margin: 0;
  font-weight: 500 !important;
  font-size: 0.9525rem !important;
  line-height: 1.6 !important;
}

.mp__p5 {
  margin: 0;
  font-weight: 400 !important;
  // text-transform: uppercase !important;
  font-size: 0.7025rem !important;
  line-height: 1.6 !important;
  letter-spacing: 0.03857em !important;
}



.mp__textCentered {
  text-align: center;
}


// cards

.dappCard.MuiGrid-item {
  transition: transform .2s;
}

.dappCard.MuiGrid-item:hover {
  transform: scale(1.1);
}


.chainInfoIcon {
  width: 12pt !important;
  color: #0000008a !important;
}

.chainInfoText {
  color: #0000008a !important;
}

.app-bott {
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;

  border-bottom: 1px #292929 solid !important;
  border-right: 1px #292929 solid !important;
  border-left: 1px #292929 solid !important;

  background-color: #191919;
}

.app-bott-ins {
  backdrop-filter: brightness(0.6);
  width: 100%;
  padding: 5pt 0;
}

.app-bott h6,
.app-bott svg {
  color: #000000cc !important;
}

.app-bott-dark h6,
.app-bott-dark svg {
  color: #ffffffc9 !important;
}



.app-icon {
  width: 100%;
  height: 95px;
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;

  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;


  border-top: 1px #292929 solid !important;
  border-right: 1px #292929 solid !important;
  border-left: 1px #292929 solid !important;

  svg {
    color: white !important;
  }
}


.schain-name {
  font-weight: bold;
  // text-transform: uppercase;
  font-size: .75rem;
  color: white;
  text-align: center;
}

.defaultChainIcon {
  width: 20px !important;
  height: 20px !important;
}


.mp__iconToken {
  width: 20px;
  height: 20px;
  margin-right: -5px;
}

.mp__iconTokenBig {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
}

.mp__iconTokenBtn {
  width: 30px;
  height: 30px;
}

.mp__iconTokenTransferDone {
  width: 25px;
  height: 25px;
}

.topBannerNew {
  font-weight: 500 !important;
  /* text-transform: uppercase !important; */
  font-size: .8525rem !important;
  line-height: 1.5 !important;
  letter-spacing: .02857em !important;
  color: #e1e1e1 !important;
}


.mp__chipToken {
  height: 45px !important;
}

.mp__chipAmount {
  height: 35px !important;
  font-size: 0.7125rem !important;
}


.MuiChip-filled {
  border-radius: 50px !important;
  padding-right: 5px !important;
  padding-left: 5px !important;

  .MuiChip-label {
    text-transform: uppercase !important;
    font-weight: 600 !important;
  }
}


.selectedToken .MuiButtonBase-root {
  background-color: #535610 !important;
}

.whiteText {
  color: white !important;
}

.mp__disabledP {
  color: #707070 !important;
}


.sk-header {
  background-color: rgba(0, 0, 0, 0) !important;
  -webkit-backdrop-filter: blur(80px) !important;
  backdrop-filter: blur(80px) !important;
}

.mp__iconGray {
  color: #8c8c8c;
}



.MuiDrawer-paper {
  background-color: black !important;
  margin-bottom: 20px !important;
  border: none !important;
}

.MuiListItemIcon-root {
  svg {
    width: 22px;
  }
}



.MuiInputBase-inputSizeSmall,
.MuiInputLabel-sizeSmall {
  font-size: 0.9rem !important;
}

.mp__inputAmountDark {
  background-color: rgba(255, 255, 255, 0.09) !important;

  svg {
    width: 13pt;
    height: 13pt;
    color: #8b8b8b;
  }
}


.MuiAccordion-rounded:first-of-type {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.MuiAccordion-rounded:last-of-type {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.Mui-expanded {
  border-radius: 20px !important;
}

.MuiAccordionSummary-content {
  margin: 12pt 0 !important;
}

.MuiAccordionSummary-content.Mui-expanded p {
  font-weight: 600 !important;
}

.MuiAccordionDetails-root {
  padding: 8pt 16pt 16pt !important;
}

.MuiAccordionSummary-root {
  padding: 0 16pt !important;
}

.drawerIconRi {
  color: #a6a6a6;
  width: 12pt !important;
  height: 12pt !important;
  margin-right: 12px !important;
}

.menuIconRi {
  color: #a6a6a6;
  width: 12pt !important;
  height: 12pt !important;
}



.bridgeFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  // background-color: red;
  // color: white;
  text-align: center;
  z-index: 9999;

  background-color: rgba(0, 0, 0, 0) !important;
  -webkit-backdrop-filter: blur(80px) !important;
  backdrop-filter: blur(80px) !important;
}



.bridge__moveDownIcon {
  text-align: center;
  // margin-top: -35px !important;
  position: absolute;
  position: relative;

  svg {
    //background-color: white;
    // color: black;
    border-radius: 50%;
    padding: 5px;
    width: 42px;
    height: 42px;

    background-color: #151515;
    margin-top: -20px;

    border: 6px black solid;
  }
}

.bridge__tokensChips {
  // overflow: scroll;
}

.br__balanceCard {
  .chainIcon {
    width: 15px !important;
    height: 15px !important;
  }
}

.br__transferData {
  .chainIcon {
    width: 15px !important;
    height: 15px !important;
  }
}

.br__paperGrey {
  background-color: #2a2a2a;
}

.br__fullHeight {
  height: 100%;
}

.MuiModal-root {
  z-index: 99999 !important;
}


.br__modal {
  .br__modalScroll {
    height: 30vh;
    overflow-y: scroll !important;
  }
}

// ::-webkit-scrollbar {
//   display: none;
// }


.br__modalScroll {
  ::-webkit-scrollbar {
    display: unset !important;
  }
}

::-webkit-scrollbar-thumb {
  background: white;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e1e1e125;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 0px solid rgba(255, 255, 255, 0);
  background-clip: content-box;
  background-color: #a0a0a0;
}

body::-webkit-scrollbar {
  display: none;
}


.br__bottomNav {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.br__transactionDataIcon {
  width: 45px;
  height: 45px;
  border-radius: 50%;

  svg {
    width: 20px !important;
    height: 20px !important;
  }
}

.br__action_deposit {
  background-image: linear-gradient(45deg, #8A463C 0%, #b02d50 100%);
}

.br__action_transferToSchain {
  // background-image: linear-gradient(120deg, #00546B 0%, #003559 50%, #002466 100%);
  background-image: linear-gradient(120deg, #9c27b0 0%, #3f51b5 100%)
}

.br__action_wrap {
  background-image: linear-gradient(160deg, #237bc3 0%, #1a3b94 100%);
}

.br__action_unwrap {
  background-image: linear-gradient(160deg, #1a3b94 0%, #237bc3 100%);
  // background-image: linear-gradient(135deg, #31a385 0%, #25648a 100%);
}

.br__action_withdraw {
  background-image: linear-gradient(45deg, #b02d50 0%, #8A463C 100%);
}

.br__action_getMyEth {
  background-image: linear-gradient(45deg, #009688 0%, #0c5f57 100%);
}

.br__action_approve {
  background-image: linear-gradient(135deg, #29b1a9 0%, #14532a 100%);
}

.br__action_approveWrap {
  background-image: linear-gradient(135deg, #14532a 0%, #29b1a9 100%);
}

.capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: bold !important;
}

.br__openExplorerBtn {
  svg {
    width: 15px !important;
    height: 15px !important
  }
}