

.transactionDataIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  svg,
  img {
    width: 15px !important;
    height: 15px !important;
  }
}


.sk__openExplorerBtn {
  svg {
    width: 15px !important;
    height: 15px !important;
  }

  background-color: var(--card) !important;

  height: 30px;
  width: 30px;
}